h1 {
    padding: 20px;
  
}

ul {
    float: left;
    
}

footer {
    position: fixed;
    clear: both;
}

.img-thumbnail {
    width: 300px;
    margin: 25px;
}

h4 {
   text-align: center;

}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  .contact-form {
      float: left;
  }





